
{% extends 'base.html.twig' %}


{% block body %}
	<div class ="row mt-4">
		<div class="col-12 col-sm-12 col-md-4 offset-md-4">
			<h1 class="text-secondary ecritureTitre"><u><b>Mot de passe oublié</b></u></h1>
		</div>
	</div>

	{# Message d'information pour l'utilisateur #}
	{% if app.request.hasPreviousSession %}
		{% for label, messages in app.flashes(['success', 'warning']) %}
			{% for message in messages %}
				<div class ="row">
					<div class="col-12 col-sm-8 col-md-4 offset-md-4 alert alert-{{ label }}" role="alert"> {{ message|raw }} </div>
				</div> 
			{% endfor %}
		{% endfor %}
	{% endif %}
	{# Fin du message d'information pour l'utilisateur #}

	<div class="col-12 col-sm-12 col-md-4 offset-md-4" style="">
		<form action="{{ path('MotDePasseOublie') }}" method="post">
			<div class="form-group">
			    <label for="email">Email de votre compte</label>
			    <input type="email" name="email" class="form-control" id="email" required="required"/>
			</div>
  			<div class="form-group text-right">
				<input type="hidden" name="csrf_token" value="{{ csrf_token('MotDePasseOublie') }}"/>
				<button type="submit" class="btn btn-primary">Je confirme</button>
			</div>
		</form>
	</div>

{% endblock %}