
<h4>Bienvenue sur Carnet-Adresse.fr</h4>

	<blockquote class="ml-4 mt-3">
		
		<p>Pour activer votre compte, merci de cliquer sur le lien suivant :</p>

		<p><a href="{{ Url }}">J'active mon compte.</a></p>

		
	</blockquote>

<p>En vous remerciant<br>
Le Site Carnet-Adresse.fr</p>