
<h4>Réinitialiser votre mot de passe sur Carnet-Adresse.fr</h4>

	<blockquote class="ml-4 mt-3">
		
		<p>Pour saisir un nouveau mot de passe, merci de cliquer sur le lien suivant :</p>

		<p><a href="{{ Url }}">Je choisi un nouveau mot de passe.</a></p>

		
	</blockquote>

<p>En vous remerciant<br>
Le Site Carnet-Adresse.fr</p>