
@font-face {
 	font-family: "Ecriture_Ecole"; 	
 	src: url('font/Kingthings_Foundation.ttf'); 
 }


html, body {
  background-image: url("../Images/fond.jpg");
  background-size: cover;  
}


.ecritureTitreNav {
	font-family:Ecriture_Ecole;
	font-size: 1.2em;
}

.ecritureTitreNavLogo {
	font-family:Ecriture_Ecole;
	font-size: 1.5em;
}

.ecritureTitre {
	font-family:Ecriture_Ecole;
	font-size: 3em;  }
}


input:required {
  border: 5px dashed red;
}