
@font-face {
 	font-family: "Ecriture_Ecole"; 	
 	src: url('font/Kingthings_Foundation.ttf'); 
 }


html, body {
  background-image: url("../Images/fond.jpg");
  background-size: cover;  
}



.ecritureTitre {
	font-family:Ecriture_Ecole;
	font-size: 3em;  }
}