
<h4>Bonjour,</h4>

	<blockquote class="ml-4 mt-3">
		{# Affichage du message de succès après une modification d'un contact dans la base de données. #}
		{% if MessagePerso != null %}
		    <p>{{ MessagePerso }} </p>
		{% else %}
			<p>{{ app.user.prenom }} {{ app.user.nom }} à besoin de vous pour remplir vos informations suivantes : Adresse postale, email, téléphone.</p>
		{% endif %}

		{% if GenerateUrl is defined %}
			<p><a href="{{ GenerateUrl }}">Je souhaite remplir mes informations.</a></p>
		{% else %}
			<p><a href="#">Je souhaite remplir mes informations.</a></p>
		{% endif %}
		
	</blockquote>

<p>En vous remerciant<br>
Le Site Carnet-Adresse.fr</p>
http://www.carnet-adresse.fr/Invitation-fdgnsjfvhnaquf51d6yg5d2g