
{% extends 'base.html.twig' %}


{% block body %}
<div class ="row mt-4">
  <h1 class="col-12 col-md-6 offset-md-5 text-secondary"><u><b>Nouveau Contact</b></u></h1>
</div>

<div class="row my-3">
  <div class="col-12 col-4 offset-md-4"><a href="{{ path('Contact.Demande') }}"><i><u>Demander à mes proches</u></i></a></div>
</div>

{# Affichage du message de succès après un ajout dans la base de données. #}
{% for message in app.flashes('contact') %}
    <div class="ol-12 col-4 offset-md-4 alert alert-success" role="alert"> {{ message }} </div>
{% endfor %}

{# Affichage du formulaire d'ajout #}
<div class="col-12 col-sm-12 col-md-4 offset-md-4" style="">
  {{ include('contact/forms/add.form.html.twig') }}
</div>

{% endblock %}
