{% extends 'base.html.twig' %}


{% block body %}
<div class ="row mt-4">
  <h1 class="col-12 col-md-6 offset-md-5 text-secondary"><u><b>Demande d'adresse</b></u></h1>
</div>

 {% for message in app.flashes('contact') %}
    <div class="col-12 col-md-4 offset-md-4 alert alert-success" role="alert"> {{ message }} </div>
  {% endfor %}

{# Affichage du formulaire d'ajout #}
<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <p>Proposez à vos proche de remplir eux-même leurs informations.</p>
  </div>
  <div class="col-12 col-md-4 offset-md-4">
    {{ include('contact/forms/demande.form.html.twig') }}
  </div>
</div>

{% endblock %}
