
{% extends 'base.html.twig' %}


{% block body %}
	<div class ="row mt-4">
		<div class="col-12 col-sm-12 col-md-4 offset-md-4">
			<h1 class="text-secondary"><u><b>Mot de passe oublié</b></u></h1>
		</div>
	</div>

	<!-- Affichage message après inscription -->
	{% if result is defined and not result is null %}
		<div class ="row">
			  <div class=" col-12 col-sm-12 col-md-4 offset-md-4 alert {{ result.success ? 'alert-success' : 'alert-warning' }}" role="alert">{{ result.message }} </div>
		</div>
	{% endif %}

	<div class="col-12 col-sm-12 col-md-4 offset-md-4" style="">
		<form action="{{ path('ForgotPassword') }}" method="post">
			<div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" name"Email" class="form-control" id="email" placeholder="Email de votre compte">
			</div>
  			<div class="form-group text-right">
				<input type="hidden" name="csrf_token" value="{{ csrf_token('ForgotPassword') }}"/>
				<button type="submit" class="btn btn-primary">Demande de réinitialisation de mot de passe.</button>
			</div>
		</form>
	</div>

{% endblock %}