<html>
 	<head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Carnet d'adresses{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
     	<p>Resultat de l'envoie : {{ send }}</p>
    </body>
</html>


