
{% extends 'base.html.twig' %}



{% block body %}

  {# Titre de la page #}
  <div class="row mt-4">
    <h1 class="col-12 col-md-6 offset-md-4 text-secondary ecritureTitre"><u><b>Ajout d'une nouvelle fiche</b></u></h1>
    <p></p>
  </div>
  {# ---------------- #}


  {# Message d'information pour l'utilisateur #}
  {% if app.request.hasPreviousSession %}
    {% for label, messages in app.flashes(['success', 'warning']) %}
      {% for message in messages %}
        <div class="row mt-2">
          <div class="col-12 col-md-4 offset-md-4 alert alert-{{ label }}" role="alert"> {{ message|raw }} </div>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  {# Fin du message d'information pour l'utilisateur #}


  {#  Formulaire d'ajout #}
  <div class="row mt-2">
    <div class="col-12 col-md-4 offset-md-4">
      {% if form is defined %}
        {{ include('fiche/forms/add.form.html.twig') }}
      {% endif %}  
    </div>
  </div>
  {#  Fin Formulaire d'ajout #}

  {# Début de l'insertion du JavaScript #}
  {% block javascripts %}
    <script type="text/javascript">
        $(function () {


            $('[data-toggle="popover"]').popover({
              trigger : 'hover',
              delay: {show: 500, hide: 100},
              placement: 'top'             
            });
          
            
            affichageLibelle();

            $('#fiche_professionel').change(function()
              { affichageLibelle(); }
            );

              
              // Détermine si le champ "Libellé" est affiché
              function affichageLibelle()
              {
                if( $('#fiche_professionel').is(':checked') )
                  { 
                    $('#fiche_libelle_Group').removeClass('d-none').addClass('d-block');
                    $('.fiche_date_naissance_group').removeClass('d-block').addClass('d-none');
                  } 
                else 
                  { 
                    $('#fiche_libelle_Group').removeClass('d-block').addClass('d-none'); 
                    $('.fiche_date_naissance_group').removeClass('d-none').addClass('d-block'); 
                  }
              }
      
        }); 
    </script>
    <script src="{{ asset('js/recaptcha.js') }}"></script>
  {% endblock %}
{# Fin de l'insertion du JavaScript #}

{% endblock %}